@import "./variables.scss";

header {
    @include flex();
    color: white;
    background-color: rgb(40, 41, 41);
    height: 65px;
    position: sticky;
    z-index: 500;
    top: 0;

    div {
        @include flex();
        padding: 0px 5px 0px 5px;
        height: 85%;
    }

    h1 {
        margin: 0;
    }
}