main {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-wrapper {
    box-shadow: 0px 4px 18px -7px rgba(66, 68, 90, 1);
    border-radius: 13px;
    width: 95%;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    min-height: 100px;
}

.task-create {
    box-shadow: 0px 4px 18px -7px rgba(66, 68, 90, 1);
    border-radius: 13px;
    width: 95%;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.task-input {
    border-radius: 18px;
    height: 36px;
    width: 225px;
    margin-right: 5px;
    border: 2px solid;
}

.submit {
    cursor: pointer;
    font-size: 36px;
}

.task-create-form {
    display: none;
}

.task-submit-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

form {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
}