body {
  margin: 0;
  font-family: Garamond, serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(237, 230, 230);
}

:root {
  font-size: 18px;
  font-family: Garamond, serif;
}

input {
  font-size: 18px;
  font-family: Garamond, serif;
}

form {
  display: flex;
}